NEXT_PUBLIC_APP_URL=https://test.gerege.mn
NEXT_PUBLIC_SSO_URL=https://sso.gerege.mn
NEXT_PUBLIC_SANDBOX_URL=https://sandbox.gerege.mn

NEXTAUTH_URL=https://test.gerege.mn
NEXTAUTH_SECRET=change-me-random-32-bytes

EID_CLIENT_ID=gerege-test-sandbox
EID_CLIENT_SECRET=change-me
