PORT=8080
SSO_JWKS_URI=https://sso.gerege.mn/.well-known/jwks.json
EID_API_URL=https://dapi.gerege.mn
OCSP_URL=
CA_ISSUING_URL=
STORAGE_PATH=/var/api/signed-docs
DATABASE_URL=postgres://sso:pass@localhost:5432/gerege_sso_db
REDIS_URL=redis://localhost:6379/3
DEV_MODE=true
