NEXT_PUBLIC_APP_URL=https://developer.gerege.mn
NEXT_PUBLIC_SSO_URL=https://sso.gerege.mn

NEXTAUTH_URL=https://developer.gerege.mn
NEXTAUTH_SECRET=change-me-random-32-bytes

EID_CLIENT_ID=gerege-developer-portal
EID_CLIENT_SECRET=change-me

DATABASE_URL=postgres://dev:pass@localhost:5432/gerege_dev_portal
